{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"></meta>
  <title>Reviewbook(sign up)</title>
<style>
.appu{
    width: 300px;
    height: 535px;
    padding: 20px;
    border: 1px solid blue;
background-color:rgba(255,255,255,0.4);
}

h1 {color: black;
}
span{
color: blue
}
h1 {
    text-align: center;
}

body{
background-image: url("{% static "love.jpg"%}");
background-size:cover;
}

 input {
      border: 0;
      padding: 10px;
      font-size: 15px;
    }
input[type="submit"] {
      background: green;
      color: white;
    }

</style>

</head>
 <body>

 <header>

     <h1><span>Review</span>BooK</h1>
            </header>
<div class = "appu">
<h2>SIGN UP</h2>

<h3>It's free and always be free.</h3>
 <div><br>

<form method="post">
{% csrf_token %}
{{form.as_p}}
                <input type="submit" value="Sign Up">
        </form>


    </div><br>

    <div><h4>Already a user? </h4><a href="login/"> Login</a> </div>

</div>
</body>
    </html>

